{% extends 'main/base.html' %}

{% block content %}

    <h1 class='center'><p class='#ef9a9a red-text lighten-3'>Sign Up</p></h1>

        
    

    <div class='container '>
        
    
        

        <form method='POST'>
        {% csrf_token %}

       {{form.as_p}}
        <div>
            <button class="btn waves-effect waves-light" >Sign Up
            <i class="material-icons right">send</i>
            </button>
        
            <button class="waves-effect waves-light btn" type='reset'>Reset</button>
        </div>
        

    
    </form>

    
    </div>
    
    <script>
    
            document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });

    </script>
{% endblock %}