{% extends 'main/base.html' %}
{% load gTTS %}
{% block content %}
    <h1 class='center'><p class='#ef9a9a red-text lighten-3'>{{ article.title }}</p></h1>
    
 

    <div class='container'>
        <blockquote> Press Play to Listen to the Article. </blockquote>
        <audio
        src="{% say 'en-us' obj %}"
        controls
    ></audio>
        <p class='flow-text'>
        {{ article.content }}
    </p>
    <blockquote> Created At: {{ article.createdAt }} </blockquote>
    <h5>Written By: 
        {% comment %} We dont call a function in templating language it is called itself {% endcomment %}
        {% for author in article.authors.all %} 
            <a href=" {% url 'get_author' author.pk %} ">{{ author }} </a>
            
        {% endfor %}
    </h5>
    </div>

{% endblock %}